<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve">
        <g>
          <path d="M45,36.028c-4.947,0-8.972,4.025-8.972,8.973c0,4.947,4.025,8.972,8.972,8.972c4.945,0,8.97-4.025,8.97-8.972   C53.97,40.053,49.946,36.028,45,36.028z M45,48.56c-1.966,0-3.56-1.593-3.56-3.56c0-1.967,1.593-3.56,3.56-3.56   c1.967,0,3.56,1.593,3.56,3.56C48.56,46.967,46.967,48.56,45,48.56z"
          />
          <path d="M77.383,23.094v23.062l-5.537,5.536l1.222,1.222L60.624,65.359l-2.807-2.807l0.445-6.06l9.192-9.192l1.525,1.524   l4.348-4.348V18.073C66.205,10.582,56.152,5.905,45,5.905c-21.591,0-39.094,17.502-39.094,39.095   c0,21.591,17.502,39.094,39.094,39.094s39.094-17.502,39.094-39.094C84.094,36.882,81.619,29.343,77.383,23.094z M18.431,67.683   c-5.408-6.333-8.387-14.389-8.387-22.682c0-7.694,2.485-15.016,7.187-21.173l1.29,0.984c-4.484,5.873-6.855,12.854-6.855,20.189   c0,7.908,2.84,15.589,7.999,21.627L18.431,67.683z M22.047,64.828C17.274,59.306,14.644,52.264,14.644,45   c0-6.65,2.141-12.985,6.191-18.319l1.293,0.981C18.293,32.712,16.267,38.707,16.267,45c0,6.874,2.488,13.541,7.008,18.766   L22.047,64.828z M26.023,61.69c-4.075-4.628-6.319-10.556-6.319-16.69c0-5.504,1.761-10.753,5.094-15.181l1.296,0.976   c-3.119,4.144-4.768,9.056-4.768,14.204c0,5.739,2.1,11.285,5.915,15.619L26.023,61.69z M32.177,56.85   c-3.002-3.248-4.655-7.457-4.655-11.85c0-3.727,1.175-7.297,3.398-10.324l1.307,0.96c-2.016,2.747-3.083,5.985-3.083,9.364   c0,3.984,1.501,7.8,4.224,10.747L32.177,56.85z M45,55.595c-5.841,0-10.594-4.752-10.594-10.594S39.159,34.405,45,34.405   c5.841,0,10.593,4.754,10.593,10.596S50.841,55.595,45,55.595z"
          />
        </g>
      </svg>
      <a class="navbar-brand page-scroll" href="#page-top">turntable.io</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if (typeof user != 'undefined') { %>
          <form action="/logout" method="POST" id="logout_form"></form>
          <li><span>Welcome, <%= user.givenName %>!</span></li>
          <li><a onclick="document.getElementById('logout_form').submit();" style="cursor:pointer;">Log out</a></li>
          <%} else {%>
            <li><a href="/login">log in!</a></li>
            <%}%>

      </ul>
    </div>
  </div>
</nav>
