<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="turntable is an online platform for mentors, teachers and coaches">
<meta name="author" content="turntabl.io">
<meta name="keywords" content="turntabl,turntable,paid mentoring,mentoring,online mentoring,video mentoring,teaching,coaching">

<title>turntable - teach, mentor, advise</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Custom Fonts -->
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' />
<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="/css/login-register.css" />

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="/css/creative.css" />

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
