<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body>
    <div class="row">
      <div class="col-sm-2" style="background-color:red;"></div>
      <div class="col-sm-8" style="background-color:blue;"></div>
      <div class="col-sm-2" style="background-color:red;"></div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="background-color:blue;"></div>
      <div class="col-sm-8" style="background-color:red;"></div>
      <div class="col-sm-2" style="background-color:blue;"></div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="background-color:red;"></div>
      <div class="col-sm-8" style="background-color:blue;"></div>
      <div class="col-sm-2" style="background-color:red;"></div>
    </div>
</body>

</html>
