<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <% include partials/app.ejs %>
    <div class="row-sm-2">
      <div class="col-sm-2" style="background-color:red;">foo</div>
      <div class="col-sm-8" style="background-color:blue;">bar</div>
      <div class="col-sm-2" style="background-color:red;">baz</div>
    </div>
    <div class="row-sm-8">
      <div class="col-sm-2" style="background-color:blue;">foo</div>
      <div class="col-sm-8" style="background-color:red;">bar</div>
      <div class="col-sm-2" style="background-color:blue;">baz</div>
    </div>
    <div class="row-sm-2">
      <div class="col-sm-2" style="background-color:red;">foo</div>
      <div class="col-sm-8" style="background-color:blue;">bar</div>
      <div class="col-sm-2" style="background-color:red;">baz</div>
    </div>
</body>

</html>
