<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
  <% include partials/app.ejs %>
  <% include partials/rt.ejs %>
</head>

<body id="page-top">
  <% include partials/header.ejs %>
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1>turntable</h1>
          <div id="publisher"></div>
          <div id="subscribers"></div>
        </div>
      </div>
    </header>
    <% include partials/footer.ejs %>
</body>

</html>
