<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
    <% include partials/rt.ejs %>
      <% include partials/app.ejs %>
</head>

<body id="page-top">
  <% include partials/header.ejs %>
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1>turntable</h1>
          <div id="countdownClock"></div>
          <div id="publisher"></div>
          <div id="subscribers"></div>
        </div>
      </div>
    </header>
    <div class="row-lg-1">
      <div class="col-lg-2" style="background-color:red;"></div>
      <div class="col-lg-8" style="background-color:blue;"></div>
      <div class="col-lg-2" style="background-color:red;"></div>
    </div>
    <div class="row-lg-9">
      <div class="col-lg-2" style="background-color:blue;"></div>
      <div class="col-lg-8" style="background-color:red;"></div>
      <div class="col-lg-2" style="background-color:blue;"></div>
    </div>
    <div class="row-lg-2">
      <div class="col-lg-2" style="background-color:red;"></div>
      <div class="col-lg-8" style="background-color:blue;"></div>
      <div class="col-lg-2" style="background-color:red;"></div>
    </div>
    <% include partials/footer.ejs %>
</body>

</html>
