<!DOCTYPE html>
<html lang="en">

<head>


  <% include partials/head.ejs %>

</head>

<body id="page-top">

  <% include partials/header.ejs %>



              <div id="publisher"></div>

              <div id="subscribers"></div>
              
  <% include partials/footer.ejs %>

</body>

</html>
