<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">How It Works</a></li>        
      </ul>-->
    	<a class="navbar-brand page-scroll" href="#page-top"><img src="../img/logo_b.png"></img></a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/account/profile">log in!</a></li>
      </ul>
    </div>
  </div>
</nav>
