
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />


    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"> <img alt="Turntabl" src="/img/logo_s.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="header header-pending"><a href="/account/pending">Pending</a></li>
            <li class="header header-history"><a href="/account/history">History</a></li>
            <!--<li class="header header-clients"><a href="/account/clients">Clients</a></li>-->

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form action="/logout" method="POST" id="logout_form"></form>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fullName %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/account/profile"><i class="fa fa-sliders fa-fw" aria-hidden="true"></i>Profile</a></li>
                <li><a onclick="document.getElementById('logout_form').submit();" style="cursor:pointer;"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Log out</a></li>
              </ul>
            </li>

            
            <li>
              <p class="navbar-btn">
                <a href="/account/main?modal=1" class="btn btn-default">New Session</a>
              </p>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>