<nav class="navbar navbar-default subpage navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
    <a class="navbar-brand-subpage page-scroll" href="/"><img src="../img/logo_s.png"></img></a>
      <ul class="nav navbar-nav navbar-left active">
        <li><a href="/account/profile">Profile</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li><a href="/account/profile">Sessions</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li><a href="/account/profile">Payment</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right action">
        <li><a href="/account/profile">New Session</a></li>
      </ul>
    </div>
  </div>
</nav>
