  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Contact</h2>
          <p>
            <a href="mailto:sam@turntabl.io"><i class="fa fa-envelope-o fa-fw fa-2x"></i></a>
            <a href="//twitter.com/turntablio"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
          </p>
        </div>
        <!--<div class="col-lg-4">
          <h2>turntabl</h2>
          <p>
            FAQ<br />
            About<br />
            Contact us</br>
          </p>
        </div>
        <div class="col-lg-4">
          <h2>Mentoring</h2>
          <ul>
            <li>First thing</li>
            <li>First thing</li>
            <li>First thing</li>
          </ul>
        </div>-->
        <small>&copy; Moorhouse Associates Ltd. VAT registered in the UK: 217805117. <a href="/privacy">privacy policy.</a> <a href="/refund">refund policy.</a></small>
      </div>
    </div>
  </footer>