<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
    <script>
  $(function(){highlightHeader('.header-payment')})
  </script>
</head>

<body id="page-top">
  <% include partials/header_collapsed.ejs %>
  <script>
  var user = <%= user %>
  </script>


    <% include partials/footer.ejs %>

</body>

</html>
