<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>

 <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login-register.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/creative.css" />

<link href="/js/bfh/css/bootstrap-formhelpers.min.css" rel="stylesheet" />

<script src="/js/bfh/js/bootstrap-formhelpers.js"></script>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>


</head>

<body id="page-top">
 <% include partials/header_collapsed.ejs %>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <div>
    <% include partials/new_session.ejs %>
    </div>
  </div>

</div>


      <div class="container profile">
        <div class="row">
          <div class="col-xs-3 profile-photo">
         	 <div class="row">
          		<img src="../img/profile.jpg"></img>
          	</div>
          	<div class="row">
          		<a href="/">Log Out</a>
          	</div>
          </div>

          <div class="col-xs-9 profile-info">
          	<div class="row">
          	<div class="col-xs-6 left">
          	60% Complete
          	</div>
          	<div class="col-xs-6 right">
          	<a href="#">
          	Complete your profile
          	</a>
          	</div>
          	</div>
          	<div class="row">
          		<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
  </div>
</div>
          	</div>
          	<div class="row">
          		<div class="col-xs-3 field title">
          			Name
          		</div>
          		<div class="col-xs-9 field info">
          			<%= user.fullName %>
          		</div>
          	</div>
			<div class="row">
          		<div class="col-xs-3 field title">
          			Email
          		</div>
          		<div class="col-xs-9 field info">
          			<%= user.email %>
          		</div>
          	</div>
<!--          	<div class="row">
          		<div class="col-xs-3 field title">
          			Phone
          		</div>
          		<div class="col-xs-9 field info">
          			555-555-5555
          		</div>
          	</div>
          	<div class="row">
          		<div class="col-xs-3 field title">
          			Username
          		</div>
          		<div class="col-xs-9 field info">
          			john.doe@gmail.com
          		</div>
          	</div>
          	<div class="row">
          		<div class="col-xs-3 field title">
          			Password
          		</div>
          		<div class="col-xs-9 field info">
          			&#x25CF; &#x25CF; &#x25CF; &#x25CF; &#x25CF; &#x25CF;
          		</div>
          	</div>-->
          	<div class="row">
          		<div class="col-xs-3 field title">
          			Bio
          		</div>
          		<div class="col-xs-9 field info empty">
          			add a bio of yourself
          		</div>
          	</div>
          </div>
        </div>
      </div>

    <% include partials/footer.ejs %>

</body>

</html>
