<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>


  <script>
  $(function(){highlightHeader('.header-profile')})
  </script>

</head>

<body id="page-top">
 <% include partials/header_collapsed.ejs %>

  <div id="wrap">
    <div class="container m-t-3"></div>
    <div class="container">
			<div class="row m-t-3">
				<div class="col-md-3">
					<h3>Sam Moorhouse</h3>
					<p>sam.j.moorhouse@gmail.com</p>
				</div>
				<div class="col-md-9">
					<!--<div class="panel">
						<div class="panel-heading">
							<h2>User settings</h2>
						</div>
						<div class="panel-body">
						</div>
					</div>--><!-- /.panel -->
					<div class="panel">
						<div class="panel-heading">
							<h2>Verification</h2>
						</div>
						<div class="panel-body">
							<p>We handle your money and so we take security very seriously.</p>
							<p>We never store your account details or verification data on our servers; it all goes straight to our payment provider, who use industry-standard security rules for retention of financial data.</p>
							<p>Sometimes we might ask you for additional information, such as proof of address or identity. This helps us reduce fraud and ensure your money and data is safe.</p>
							<div class="alert alert-success">We don't need any more data from you!</div>
						</div>
					</div><!-- /.panel -->
				</div>
			</div>
		</div><!-- /.container -->
	</div>
  <% include partials/sitewide_footer.ejs %>

</body>

</html>
