<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body id="page-top">
  <% include partials/header.ejs %>
  <script>
  var user = <%= user %>
  </script>

<p>Name: <%= user.givenName %>
<p>Email: <%= user.email %>
<p>Bio: <%= user.givenName %>

    <% include partials/footer.ejs %>

</body>

</html>
