<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    paypal.Button.render({
    
        env: 'production', // Specify 'sandbox' for the test environment

        payment: function() {
            // Set up the payment here, when the buyer clicks on the button
        },

        onAuthorize: function(data, actions) {
            // Execute the payment here, when the buyer approves the transaction
       }
            
    }, '#paypal-button');
</script>
</head>

<body id="page-top">
  <% include partials/header_bland.ejs %>
  <div id="wrap">
    <div class="container m-t-3"></div>
    <div class="container">
      <h2>Payment required</h2>
      <div class="panel">
        <ul class="list-group">
          <li class="list-group-item p-a-0">


            <div class="media">
              <div class="media-left user-icon">
                <i class="fa fa-paypal fa-3x fa-fw tt-icon" aria-hidden="true"></i>
              </div>
              <div class="media-body">
                <div id="paypal-button"></div>
              </div>
            </div><!--/media-->


            <div class="p-l-panel p-r-panel p-b-panel">
              <div class="media">

                <div class="media-left">
                  <div class="circle circle-sm circle-inverse circle-responsive invisible">
                  </div>
                </div>
                <div class="media-body">
                  <hr class="m-t-0" />
                  <div class="row">
                    <div class="col-sm-6">
                      <dl>
                        <dt><%= sessionName %></dt> 
                        <dd>
                          <span class="separator"></span>
                          <span>Payment is required before you can enter the session.</span>
                        </dd>
                      </dl>
                    </div>
                  </div><!--/.row-->            
                </div><!--/.media-body-->

              </div><!--/.media-->
            </div><!--/.panel-->
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% include partials/sitewide_footer.ejs %>
</body>
</html>
