<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <% include partials/head.ejs %>
</head>

<body id="page-top">
 <% include partials/header_session.ejs %>
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>We take your privacy very seriously. We use industry-strength TLS encryption to secure your communication with us. We don't store your credit card details or those of your clients - they're sent directly to our PCI-compliant payment provider for processing.</p>
        <p>We <emph>do</emph> store:
            <ul>
                <li>The details you gave us when you created an account. If you use a social media login, this includes the name and email address you used to register there.</li>
                <li>The details you give us whenever you create a new teaching session. This includes the name of your client and the details of the session.</li>
            </ul>
        </p>
        <p>We do not store credit card details nor do we share customer details with any 3rd parties</p>
    </div>
 <% include partials/footer.ejs %>

</body>

</html>
