<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <% include partials/head.ejs %>
</head>

<body id="page-top">
 <% include partials/header_session.ejs %>


    <div class="container">
        <h1>Cancellation Policy</h1>
        <p>Turntabl is a marketplace; it's important that you build your own relationship with your clients.</p>
        <p>However, if a client leaves a session within 15 minutes and asks us to refund them, we'll do so without question.</p>
    </div>

 <% include partials/footer.ejs %>

</body>

</html>
