<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>

  <!-- Plugin CSS -->
  <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/login-register.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/creative.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  <link href="/js/bfh/css/bootstrap-formhelpers.min.css" rel="stylesheet" />

  <script src="/js/bfh/js/bootstrap-formhelpers.js"></script>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>


</head>

<body id="page-top">
  <% include partials/header_session.ejs %>


  <div id="sidenavCollapsed" class="sidenav collapsed" >
  <!-- onmouseleave="closeCollapsedNav()"
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
<a onclick="showExpanded()">
  <i class="fa fa-clock-o"></i>
  <div class="sidebarItem">Session Details</div>
</a>
<a onclick="showExpanded()">
  <i class="fa fa-video-camera"></i>
  <div class="sidebarItem">Cameras</div>
</a>
<a onclick="showExpanded()">
  <i class="fa fa-file"></i>
  <div class="sidebarItem">Attachments</div>
</a>
<a onclick="showExpanded()">
  <i class="fa fa-sticky-note"></i>
  <div class="sidebarItem">Notes</div>
</a>
<a onclick="showExpanded()">
  <i class="fa fa-comment"></i>
  <div class="sidebarItem">Conversation</div>
</a>
</div>

<div id="sidenavExpanded" class="sidenav expanded" > <!-- onmouseleave="closeExpandedNav()"-->
  <button class="accordion">
  <i class="fa fa-clock-o"></i>
  <div class="sidebarItem">Session Details</div>
  </button>
  <div class="panel">
    <div class="section">


<!--<article class="clock">
  <div class="hours-container">
    <div class="hours"></div>
  </div>
  <div class="minutes-container">
    <div class="minutes"></div>
  </div>
  <div class="seconds-container">
    <div class="seconds"></div>
  </div>
</article>-->

<div class="section-item">
  <div class="title">60 MINUTES SESSION</div>
  <div class="content time"><span class="big">39:23</span> remaining</div>
</div>
<div class="section-item">
  <div class="title">Session Fee</div>
  <div class="content"><span class="big">$120</span></div>
</div>
<div class="section-item">
  <div class="title">Client</div>
  <div class="content"><div class="big">Jessis S.</div> 
    <div>jessieS@gmail.com</div>
  <div>New Client</div></div>
</div>

    </div>
  </div>

  <button class="accordion">
    <i class="fa fa-video-camera"></i>
  <div class="sidebarItem">Cameras</div>
  </button>
  <div class="panel">
    <div class="section">
    <div class="section-item">
      <div class="title">You (Main Camera)</div>
      <div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Camera 1<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>Camera 1</li>
        <li>Camera 2</li>
        <li>Camera 3</li>
    </ul>
</div>
    <div class="sub-text disable disable-button">Disable Camera</div>
    </div>
    <div class="section-item">
    <div class="title">Sub Camera</div>
<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Camera 1<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>Camera 1</li>
        <li>Camera 2</li>
        <li>Camera 3</li>
    </ul>
</div>
    <div class="sub-text disable disable-button">Disable Camera</div>
    </div>
    </div>
  </div>

  <button class="accordion">
    <i class="fa fa-file"></i>
  <div class="sidebarItem">Attachments</div>
  </button>
  <div class="panel">
    <p>Attachment Sec</p>
  </div>

    <button class="accordion">  
    <i class="fa fa-sticky-note"></i>
  <div class="sidebarItem">Notes</div>
  </button>
  <div class="panel">
    <p>Notes Sec</p>
  </div>

    <button class="accordion">
  <i class="fa fa-comment"></i>
  <div class="sidebarItem">Conversation</div>
  </button>
  <div class="panel">
    <p>Conversation Sec</p>
  </div>
</div>

<div class="sidebar" onmouseover="openNav()"><i class="fa fa-angle-double-left"></i></div>

<div class="dim"></div>
<div class="container session">
  <div class="row main">
    <div class="col-xs-12 module">
      <img src="/img/presentation.jpg"></img>
      <div class="module-bar">
        1/21
      </div>
    </div>
  </div>
  <div class="row camera">
    <div class="col-xs-4 module">
      <img src="/img/videochat1.jpg"></img>
      <div class="module-bar">
        You
      </div>
    </div>
    <div class="col-xs-4 module">
      <img src="/img/videochat2.jpg"></img>
      <div class="module-bar">
        Jessica
      </div>
    </div>
    <div class="col-xs-4 module">
      Sub Cam
    </div>
  </div>



  <% include partials/footer.ejs %>

</body>

</html>
