<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>

 <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login-register.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/creative.css" />

<link href="/js/bfh/css/bootstrap-formhelpers.min.css" rel="stylesheet" />

<script src="/js/bfh/js/bootstrap-formhelpers.js"></script>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>


</head>

<body id="page-top">
 <% include partials/header_session.ejs %>

      <div class="container session">
        <div class="row main">
          <div class="col-xs-12 module">
            <img src="/img/presentation.jpg"></img>
            <div class="module-bar">
                1/21
            </div>
          </div>
        </div>
        <div class="row camera">
          <div class="col-xs-4 module">
            <img src="/img/videochat1.jpg"></img>
            <div class="module-bar">
              You
            </div>
          </div>
          <div class="col-xs-4 module">
            <img src="/img/videochat2.jpg"></img>
            <div class="module-bar">
              Jessica
            </div>
          </div>
          <div class="col-xs-4 module">
            Cam 3
          </div>
        </div>



    <% include partials/footer.ejs %>

</body>

</html>
