<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <% include partials/head.ejs %>


  <script type="text/javascript" src="/js/session.js"></script>
  <script>
  $(function(){highlightHeader('.header-profile')})
  </script>

</head>

<body id="page-top">
 <% include partials/header_session.ejs %>
 <% include partials/footer.ejs %>

</body>

</html>
